################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2-GeneticAlgorithms/.vs/Assignment2-GeneticAlgorithms/v15
/Assignment2-GeneticAlgorithms/obj/
/Assignment2-GeneticAlgorithms/bin/
/Assignment2-GeneticAlgorithms/.vs/Assignment2-GeneticAlgorithms/DesignTimeBuild
