################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2-GeneticAlgorithms/.vs/Assignment2-GeneticAlgorithms/v15
